#title, #tribute-info, #img-caption, .footer-note, #img-div{
    text-align: center
}

img {
    max-width: 100%;
    height: auto;
    align-items: center;
    display: block;
}

li {
    padding: 5px;
}
